.withBorder, .overview__title {
  border: 10px solid #7ad87a;
  padding: 4px;
  padding: 0;
  margin: 0;
}

.overview {
  padding: 20px;
}
.overview .title {
  color: #3e8e3e;
  font-weight: bold;
}
.overview__title {
  color: blue;
}
.overview__title--red {
  color: yellow;
}
.overview__subtitle {
  font-style: 64px;
  color: #e9c226;
}

li {
  list-style: none;
}

.main-header {
  border: 2px solid blue;
  padding: 10px;
}
.main-header__menu {
  display: flex;
  justify-content: space-between;
}
.main-header__menu--item {
  border: 2px solid blue;
  padding: 10px;
}
.main-header__menu--item:hover {
  background-color: #e7c7c7;
}

body {
  margin: 20px;
  border: none;
}

.footer {
  background-color: black;
  padding: 66px 0 70px;
}
.footer__heading {
  color: #fefefe;
  text-align: center;
  font-size: 16px;
  margin-bottom: 22px;
}
.footer__text-content {
  color: #b9b9b9;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  margin: 31px 0 28px;
}
.footer__icon-element {
  width: 34px;
  height: 34px;
  margin: 6px;
  border: 1px solid red;
  border-radius: 50%;
}
.footer__icon .icon-background-red {
  background-color: red;
}
.footer__icon .icon-background-white {
  background-color: white;
}
.footer__icon .icon-background-grey {
  background-color: grey;
}
.footer__icon .icon-background-green {
  background-color: green;
}
.footer__icon .icon-background-blue {
  background-color: blue;
}