.container {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.item {
    border: 1px solid black;
    flex: 1;
    height: 200px;
}
/* 400 700 */

@media screen and (min-width: 400px) and (max-width: 700px) {
    .container {
        flex-wrap: wrap;
        margin: 0;
    }
    .item {
        flex: none;
        width: calc(50%-2px);
    }
}
/* @media screen and (max-width: 399px) {
    .container {
        flex-wrap: wrap;
        margin: 0;
    }
    .item {
        flex: none;
        width: 50%;
    }
} */
