body {
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    transform: scale(1.2, 1.2);
}
a:hover {
    transform: scale(1.2, 1.2);
}

/*start  -----header */
.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}

.logo {
    display: flex;
    padding: 22px 0 21px 0;
    align-items: center;
}
.logo a {
    text-decoration: none;
}

.logo img {
    padding: 22px 27px 21px 27px;
}

.logo h1 {
    font-size: 22px;
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    padding: 28px 35px 26px 0;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600px;
}

.search-button {
    display: flex;
    justify-content: flex-end;
    width: 65px;
    height: 70px;
    background: #000000;
}

.search {
    padding: 27px 25px 26px 26px;
}

.header-background {
    width: 100%;
    height: 438px;

    flex-wrap: wrap;
    background: url(../img/nav-bar-img/header-bg.jpeg) center center;
}

.header-text-pos {
    text-align: center;
}

.header-text {
    padding: 232px 0 44px 0;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-link1 {
    border-radius: 6px;
    border: none;
    display: block;
    padding: 16px 19px 17px 19px;
    background-color: #89ca62;
    margin-right: 20px;
    color: #ffffff;
}

.btn-link2 {
    border-radius: 4px;
    border: none;
    display: block;
    padding: 16px 19px 17px 19px;
    background-color: #14b9d5;
    color: #ffffff;
}
