.menu-btn {
    width: 80px;
    height: 80px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: lightskyblue;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: lightskyblue;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #fa00c4;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #fa00c4;
}

nav {
    border-bottom: 1px solid #000;
    position: relative;
}

/* .list {
	display: none;
} */

.menu__burger {
    display: block;
    width: 100%;
    background: white;
}

.menu__burger.open {
    display: block;
}

.menu__burger ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    margin: 0 auto;
}

.menu__burger ul li {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .menu__burger {
        position: absolute;
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    .list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .list li {
        width: 100vw;
        font-size: 26px;
        margin: 0 8px;
    }

    .list li:first-child {
        border: none;
    }

    nav {
        border-bottom: none;
    }
}
