$backgroundWhite: #ffffff;
$backgroundGray: #f5f5f5;
$backgroundBlack: #000000;

$colorFontTitle: #4e4e4e;
$colorMenuTitleHover: #57a4a4;
$colorFontText: #7c7c7c;
$colorFontParagraph: #5c5c5c;

$headingFontColor: #fefefe;
$contentFontColor: #b9b9b9;
