@import '_constants.scss';
@import '_mixins.scss';

.footer {
    background-color: $backgroundBlack;
    padding: 66px 0 70px;

    .footer_container {
        max-width: 400px;

        margin: 0 auto;
        padding: 0 30px 0 30px;

        h1 {
            align-items: center;
            text-align: center;
            color: $headingFontColor;
            @include heading;
        }
        p {
            padding-top: 10px;
            align-items: center;
            text-align: center;
            @include paragraph;
            color: $contentFontColor;
        }
        .footer__icon {
            display: flex;
            justify-content: center;
            margin: 31px 0 28px;
            &-element {
                cursor: pointer;

                width: 34px;
                height: 34px;
                margin: 6px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .footer {
        .footer_container {
            max-width: 684px;
            h1 {
                font-size: 14px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
