@import '_constants.scss';
@import '_mixins.scss';
body {
    font-family: 'Roboto', sans-serif;
}

.header {
    @include position-center;
    padding: 30px 25px 38px 25px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .header__menu-btn {
        margin-bottom: 35px;
        background-color: $backgroundBlack;
        width: 45px;
        height: 45px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &-burger {
            width: 70%;
            height: 2px;
            background: $backgroundWhite;
            border-radius: 1px;
            transition: all 0.2s ease-in-out;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 70%;
                height: 2px;
                background: $backgroundWhite;
                border-radius: 1px;
                transition: all 0.2s ease-in-out;
            }
            &::before {
                transform: translateY(-10px);
            }
            &::after {
                transform: translateY(10px);
            }
        }
        &.open .header__menu-btn-burger {
            padding-left: 5px;
            transform: translateX(-50px);
            background: transparent;
            &::before {
                transform: rotate(45deg) translate(35px, -35px);
                background: $backgroundWhite;
            }
            &::after {
                transform: rotate(-45deg) translate(35px, 35px);
                background: $backgroundWhite;
            }
        }
    }

    .header__menu-burger {
        position: absolute;
        display: none;
        width: 182px;
        height: 210px;
        right: 25px;
        top: 75px;
        background: $backgroundGray;
        &.open {
            display: block;
        }
        &-list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            a {
                margin-left: 14px;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 22px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                color: $colorFontTitle;

                &:hover {
                    color: $colorMenuTitleHover;
                }
            }
        }
    }
}
.header__img img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 767px) {
    .header {
        padding: 30px 25px 38px 25px;
    }
    nav {
        margin-bottom: 29px;
        justify-content: center;
        max-width: 1170px;
        .header__menu {
            width: 98%;
            margin-top: 20px;
            &-btn {
                display: none;
            }
            &-burger {
                margin-bottom: 30px;
                position: relative;
                display: block;
                width: 100%;
                height: 0;
                right: 0;
                top: 0;
                &-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    li {
                        a {
                            margin: 0;
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}
