@mixin position-center {
    margin: 0 auto;

    max-width: 1170px;
}
@mixin heading {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
@mixin paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}
