@import '_constants.scss';
@import '_mixins.scss';

.section__instagram {
    .section__instagram-shots {
        @include position-center;

        padding: 0 25px 45px 25px;
    }
    .section__instagram-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        h3 {
            @include heading;
            color: $colorFontTitle;
            &:last-child {
                display: none;
            }
        }
    }
    .section__instagram-items {
        display: flex;
        justify-content: space-between;
        img {
            width: 99%;
            max-width: 285px;
        }
        .section__instagram-item2,
        .section__instagram-item3,
        .section__instagram-item4 {
            display: none;
        }
    }
}
@media screen and (min-width: 767px) {
    .section__instagram {
        background: rgba(0, 0, 0, 0.03);
        mix-blend-mode: normal;
        padding-top: 46px;
        .section__instagram-shots {
            .section__instagram-nav h3:last-child {
                margin-right: 5px;
                display: block;
            }
            .section__instagram-items {
                .section__instagram-item2,
                .section__instagram-item3 {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section__instagram-shots {
        .section__instagram-items {
            .section__instagram-item2,
            .section__instagram-item3,
            .section__instagram-item4 {
                display: block;
            }
        }
    }
}
