@import '_constants.scss';
@import '_mixins.scss';
.section__posts {
    @include position-center;
    padding: 0 25px 60px 25px;

    &-heading {
        padding: 38px 0 23px 0;
        @include heading;
        color: $colorFontTitle;
    }
    .section__posts-items {
        .section__post-item1,
        .section__post-item2,
        .section__post-item3,
        .section__post-item4 {
            img {
                max-width: 100%;
            }
            div {
                padding-bottom: 28.5px;
            }

            h3 {
                margin-top: 11px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                align-items: center;
                color: $colorFontTitle;
            }
            p {
                @include paragraph;
                color: $colorFontText;
                &:last-child {
                    display: none;
                    padding-top: 10px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: $colorFontParagraph;
                }
            }
        }
        .section__post-item4 {
            display: none;
        }
    }
}
@media screen and (min-width: 767px) {
    .section__posts {
        .section__posts-items {
            .section__post-item4.block {
                display: flex;
            }
            .section__post-item1,
            .section__post-item2,
            .section__post-item3,
            .section__post-item4 {
                display: flex;
                padding-bottom: 32px;
                img {
                    max-width: 100%;
                }
                div {
                    margin-left: 21px;
                    padding-bottom: 28.5px;
                    p:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .section__posts-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
