body {
  margin: 0;
}

.conatainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.conatainer .block {
  border: 1px solid black;
  padding: 12px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin: 0 auto;
}
.conatainer .block .photo {
  border: 1px solid red;
  height: 100px;
  background-color: #c7e6f3;
}