/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: #161619;
  background-color: #fffff6;

  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr 100px;
}

header {
  grid-row: 1;
  grid-column: 1/-1;
  background-color: #f5e0c7;
}

.sidebar {
  grid-column: 1;
  background-color: #f9f6ff;
}

main {
  grid-row: 2;
  grid-column: 2;
}

footer {
  grid-row: 3;
  grid-column: 1/-1;
  background-color: #ddfdff;
}

main {
  grid-template-rows: 50px 100px 1fr;
}

main h1 {
  grid-row: 2;
  text-align: center;
}

main p {
  grid-row: 3;
  font-size: 22px;
  font-weight: 400;
}

header,
footer,
.sidebar,
main {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  font-size: 28px;
  font-weight: 600;
}

main {
  align-items: start;
}

#list {
   opacity: 0; 
}

.class .class2 {
}

.class.class2 {
}

.class + .class2 {
}

.class > .class2 {
} */
/* 
@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: #161619;
  background-color: #fffff6;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.list {
  grid-row: 2;
  padding-left: 15px;
}

.list-item {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: 500;
}

.active {
  color: orange;
  font-size: 22px;
} */

/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: #161619;
  background-color: #fffff6;

  display: grid;
  grid-template-rows: 1fr auto 1fr 1fr;
  grid-gap: 20px;
}

h1 {
  grid-row: 2;
  font-size: 34px;
  font-weight: 600;
  padding-left: 15px;
}

.store {
  grid-row: 3;
  padding-left: 15px;
}

li {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: 500;
}

.out-of-stock {
  color: red;
  font-weight: 600;
} */

@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: #161619;
  background-color: #fffff6;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.list {
  grid-row: 2;
  padding-left: 15px;
}

.list-item {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: 500;
}

a {
  color: blueviolet;
  transition: color 0.3s ease;
}

a:hover {
  color: rebeccapurple;
}
