.our-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    position: relative;
}

.services::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 80px;
    position: absolute;
}

.services-menu {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin-top: 100px;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    width: 100%;
}

.list-menu-item {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
}

.li-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    height: 70px;
    background-color: rgb(248, 252, 254);
    border: 1px solid rgb(236, 236, 236);
    list-style-type: none;
    position: relative;
}

.li-list:hover {
    color: #fff;
    background-color: rgb(24, 207, 171);
    cursor: pointer;
    border: 1px solid rgb(24, 207, 171);
}

.li-list:hover::after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    content: '';
    height: 9px;
    width: 20px;
    position: absolute;
    top: 68px;
}

.li-list.active {
    color: #fff;
    background-color: rgb(24, 207, 171);
    border: 1px solid rgb(24, 207, 171);
}

.li-list.active::after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    content: '';
    display: block;
    height: 9px;
    width: 20px;
    position: absolute;
    top: 68px;
}

.services-menu-content {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    height: 140px;
    margin-bottom: 105px;
}

.image-service {
    height: 140px;
}

a {
    text-decoration: none;
}

menu {
    list-style-type: none;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* --start-header--- */

a {
    text-decoration: none;
}

menu {
    list-style-type: none;
}

/*Main Title*/

.head-menu {
    background-image: url('../image/Sections background/section-1(header).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-head-ham {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
}

.top-side-fon {
    display: flex;
    justify-content: center;
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.fa-search-link {
    color: #b8b8b8;
    margin-left: 10px;
    font-size: 22px;
}

.fa-search-circle {
    color: #fff;
    font-size: 15px;
}

.the-ham-logo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    margin-left: 8px;
}

.uppercase-logo {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 32px;
    font-weight: 700;
}

.image-h {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    background: rgb(0, 208, 175);
}

.big-h {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin: 0 14px;
    text-transform: uppercase;
}

.image-h:before,
.image-h:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    left: 0;
}

.image-h:before {
    top: -20px;
    border-bottom: 20px solid rgb(0, 208, 175);
}

.image-h:after {
    bottom: -20px;
    border-top: 20px solid rgb(0, 208, 175);
}

.main-menu-list {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    align-items: center;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.menu-link:hover {
    color: #18cfab;
}

.menu-link:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    top: 68px;
}

.second-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
    background-color: rgba(255, 255, 255, 0.2);
}

.word-theme {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 360px;
}

.word-theme-color {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.create {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 17px;
}

.buy-theme {
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 10px;
}

.button-top {
    margin-top: 146px;
    margin-bottom: 244px;
}

.main-button {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    box-shadow: 0 -4px rgb(12, 12, 12);
    text-transform: uppercase;
    margin-right: 14px;
    transition: all 0.3s;
}

.button-header-green:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #00a096;
    transform: translateY(-4px);
    transition: all 0.3s;
}

.button-header-green {
    background-color: #18cfab;
}

.button-header-blue {
    background-color: #00cbf6;
}

.button-header-blue:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #1081d0;
    transform: translateY(-4px);
    transition: all 0.3s;
}

/* Menu Big Button*/

.menu-big-button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

.big-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
    height: 370px;
    width: 100%;
}

.big-button:hover {
    cursor: pointer;
}

.big-button:nth-child(even) {
    background-color: #18cfab;
    box-shadow: 0 -7px rgba(255, 255, 255, 1);
}

.big-button:nth-child(odd) {
    background-color: #1c2a33;
    box-shadow: 0 -7px rgba(24, 207, 171, 1);
}

.onclick-menu {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.onclick-menu-odd {
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.div-image {
    background-repeat: no-repeat;
}

.onclick {
    background-image: url('../image/icons/onclick.png');
    height: 97px;
    width: 58px;
}

.diamond {
    background-image: url('../image/icons/diamond.png');
    height: 75px;
    width: 93px;
}

.lamp {
    background-image: url('../image/icons/lamp.png');
    height: 96px;
    width: 60px;
}

.device {
    background-image: url('../image/icons/device.png');
    height: 76px;
    width: 99px;
}
/* --end---section-cards--- */
/* --start---section-service--- */
.section-service {
    width: 1160px;

    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-service h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}
.service-menu {
    margin-top: 101px;
    height: 72px;
    background: #f8fcfe;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-menu li {
    /* align-items: center; */
    border-left: 1px solid #bbb;
    padding: 0 2px 0 20px;
}
.service-menu li:hover {
    transform: scale(1.2);
}
.service-menu li:first-child {
    border: none;
}

.service-menu a {
    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 39px;

    color: #717171;
}
.service-info {
    margin-top: 27px;

    height: 139px;
    background: #f8fcfe;
    width: 1000px;
    /* display: none; */
}
.service-info .tabs-item {
    display: flex;
}
.service-info .tabs-item img {
    width: 192px;
    height: 139px;
}
.service-info .tabs-item p {
    margin-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}
/* --end---section-service--- */
/* --start---section-purchase--- */
.section-purchase {
    width: 1160px;
    height: 476px;
    margin-top: 91px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/section-purchase/section-2.jpg) center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-purchase div {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}
.section-purchase h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18cfab;
}
.section-purchase p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
}
.section-purchase button {
    border-radius: 6px;
    border: none;
    display: block;
    width: 169px;
    height: 63px;
    background-color: #18cfab;
    margin-right: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
}
/* --end---section-purchase--- */
/* --start---section-work--- */
.section-work {
    width: 1160px;
    height: 1212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #e9edef;
}
.work-header {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.work-header h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
}
.work-menu {
    width: 582px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.work-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 582px;
    height: 58px;
    border: 1px solid #dadada;
}
.work-menu a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;

    color: #717171;
}
.work-img {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.work-img img {
    width: 250px;
    height: 211px;
}
.section-work button {
    border-radius: 6px;
    border: none;
    display: block;
    width: 169px;
    height: 63px;
    background-color: #18cfab;
    margin-right: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.section-work button > img {
    padding-top: 6px;
}
/* --end---section-work--- */
/* --start---section-breaking-news--- */
.section-breaking-news {
    width: 1160px;

    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.breaking-news-title {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.breaking-news-title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
}
.breaking-news-cards {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-top: 69px;
}
.breaking-news-card1 {
    background-image: url(../img/section-breaking-news/Layer\ 47.png);
    /* width: 210px;
    height: 190px; */
}
.breaking-news-card2 {
    background-image: url(../img/section-breaking-news/Layer\ 50.png);
    /* width: 210px;
    height: 190px; */
}
.breaking-news-card3 {
    background-image: url(../img/section-breaking-news/Layer\ 51.png);
    /* width: 210px;
    height: 190px; */
}
.breaking-news-card4 {
    background-image: url(../img/section-breaking-news/Layer\ 52.png);
    /* width: 210px;
    height: 190px; */
}
.breaking-news-card5 {
    background-image: url(../img/section-breaking-news/Layer\ 53.png);
    /* width: 210px;
    height: 190px; */
    margin-top: 43px;
}
.breaking-news-card6 {
    background-image: url(../img/section-breaking-news/Layer\ 54.png);
    /* width: 210px;
    height: 190px; */
    margin-top: 43px;
}
.breaking-news-card7 {
    background-image: url(../img/section-breaking-news/Layer\ 55.png);
    /* width: 210px;
    height: 190px; */
    margin-top: 43px;
}
.breaking-news-card8 {
    background-image: url(../img/section-breaking-news/Layer\ 56.png);
    /* width: 210px;
    height: 190px; */
    margin-top: 43px;
}

.breaking-card-caption {
    margin-top: -25px;
    background: #f8fcfe;
    border: 1px solid #f2f4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breaking-card-caption h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;

    color: #717171;
}
.breaking-card-caption p {
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}
.breaking-news-data {
    width: 210px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}
.breaking-news-data img {
    width: 60px;
    height: 60px;
}

/* --end---section-breaking-news--- */

/* --start---section-client-feedback--- */
.section-client-feedback {
    width: 1160px;
    height: 800px;
    background-size: cover;
    background-image: url(../img/section-client-feedback/section-3.jpg);
    /* background-attachment: fixed; */
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}
.client-feedback-title {
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.client-feedback-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-feedback-title-text img {
    padding-top: 25px;
}
.client-feedback-title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #ffffff;
}

.client-feedback-about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.client-feedback-text {
    text-align: center;
    margin-top: 35px;
    width: 1000px;
    height: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
}
.client-feedback-name {
    padding-top: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18cfab;
}
.client-feedback-position {
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
}
.client-feedback-photo {
    width: 143px;
    height: 142px;
    margin-top: 50px;
    border-radius: 100px;
    border: 8px solid #45634c;
}
.section-client-feedback-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-feedback-about-change {
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.client-feedback-about-change a.active {
    transform: scale(1.2) translateY(-5px);
}
.activeClient {
    transform: scale(1.2) translateY(-5px);
}
.client-feedback-about-change img {
    border-radius: 100px;
    border: 4px solid #45634c;
    width: 60px;
    height: 59px;
}

.client-feedback-about-change img:hover {
    transform: scale(1.1);
}
.client-feedback-about-change .prev {
    width: 31px;
    height: 31px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.client-feedback-about-change .next {
    width: 31px;
    height: 31px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

/* --end---section-client-feedback--- */
/* --start---footer--- */
.footer {
    margin-top: 8px;
    width: 1160px;
    height: 121px;
    background: #22353f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
}
.footer p > span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #18cfab;
}
/* --end---footer--- */

.what-people-say {
    background-image: url('../image/Sections background/section-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.people-say-background {
    display: flex;
    justify-content: center;
    background-color: rgba(46, 74, 91, 0.5);
}

.content-block-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1160px;
}

.authors-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services-people-say {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    position: relative;
    color: #ffffff;
}

.people-say-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 260px;
    position: absolute;
}

.description-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
    text-align: center;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
    margin-top: 105px;
}

.name-author {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-top: 43px;
}

.position-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.mini-circle-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all 0.3s;
    margin: 0 20px;
}

.mini-circle-photo:hover {
    cursor: pointer;
}

.mini-circle-border {
    border: 1px solid #18cfab;
    transform: translateY(-10px);
    transition: all 0.3s;
}

.image-block-author {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
    height: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 480px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
}

.square:hover {
    background-color: #18cfab;
    cursor: pointer;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.karusel {
    display: flex;
}
