* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.wrap {
    width: 502px;
    display: flex;
    flex-wrap: wrap;
    margin: 120px auto;
    border: 1px solid black;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-size: cover;
}
button {
    width: 100px;
    height: 40px;

    align-items: center;

    margin: 0 auto;
    display: flex;
    justify-content: center;
}
p {
    position: absolute;
    color: red;
    right: 50%;

    font-size: 50px;
    line-height: 20px;
}
