.section__features {
    &-container {
        padding: 0 10px;
        margin: 0 auto;
        max-width: 1200px;
        min-width: 320px;
    }

    &-title {
        transition: 0.3s;
        margin: 0 auto;
        width: 230px;
        margin-top: 130px;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;

        align-items: center;
        text-align: center;

        color: #8d81ac;
    }
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-top: 38px;
        }
        div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                margin-top: 27px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 16px;

                align-items: center;

                color: #323232;
            }
            p {
                width: 85%;
                margin-top: 14px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #848e97;
            }
        }
    }
    &-main-img--mobile {
        margin-top: 64px;
        width: 103%;
    }
    &-main-img--deskTop {
        display: none;
    }
}
@media screen and (min-width: 481px) {
    .section__features {
        margin-top: 156px;
        &-title {
            width: 480px;
            font-size: 42px;
            line-height: 44px;
        }
        &-content {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 61px;

            div:first-child {
                display: flex;
                justify-content: center;
                width: 30%;
                margin: 0;
            }
            div:last-child {
                width: 70%;
                align-items: flex-start;

                h2 {
                    font-size: 16px;
                    line-height: 21px;

                    align-items: start;
                }
                p {
                    // width: 456px;
                    text-align: start;
                }
            }
        }
        &-main-img--mobile {
            display: none;
        }
        &-main-img--deskTop {
            margin-top: 76px;
            display: flex;
            width: 103%;
        }
    }
}
@media screen and (min-width: 992px) {
    .section__features {
        background: #f4f4f4;
        margin-top: 70px;
        &-container {
            padding-top: 0px;
            padding-bottom: 52px;

            position: relative;
            align-items: center;
            padding-top: 20px;
        }

        &-title {
            margin-top: 0;
            width: 525px;
            font-size: 48px;
            line-height: 50px;
            position: absolute;
            top: 66px;
            left: calc(50% - 36px);
        }
        &-wrapper {
            width: 49%;
        }
        &-content {
            margin-top: 25px;
        }

        &-main-img--deskTop {
            margin-top: 0;
            width: 55%;
            right: 0;
            top: calc(50% - 191px);
            position: absolute;
        }
    }
}
