.section__prices {
    background-image: url(./images/prices/bg-prices.png);
    background-position: center center;
    background-size: cover;
    padding-bottom: 100px;
    &-container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;
        min-width: 320px;
        h1 {
            padding-top: 14px;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 44px;

            align-items: center;
            text-align: center;

            color: #ffffff;
        }
    }
    &-main {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-block {
            margin-top: 30px;
            background-color: rgba(255, 255, 255, 0.11);

            width: 80%;
            height: 457px;
            display: flex;
            flex-direction: column;
            align-content: center;
            &:nth-child(3) {
                width: 90%;
                height: 560px;
                background: rgba(70, 48, 72, 0.84);
                mix-blend-mode: normal;

                h2 {
                    background-color: rgba(0, 0, 0, 0.11);
                    font-size: 24px;
                    line-height: 24px;
                    color: white;
                    padding: 43px 0 43px 0;
                }
                .pricing__content {
                    &-title {
                        font-size: 82px;
                        line-height: 84px;
                    }
                }
            }
            h2 {
                background-color: rgba(255, 255, 255, 0.06);
                padding: 36px 0 36px 0;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
            }
            .pricing__content {
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 100%;

                &-title {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 60px;
                    line-height: 62px;

                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;

                    color: #ffffff;
                }
                &-text1 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;

                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;

                    color: #ffffff;
                    &::after {
                        content: '';
                        display: block;
                        width: 60px;
                        height: 5px;
                        background: #8d81ac;

                        margin: 20px auto;
                    }
                }
                &-text2 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 28px;

                    align-items: center;
                    text-align: center;

                    color: #ffffff;
                }
                button {
                    color: #ffffff;

                    width: 163px;
                    height: 45px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 15px;
                    border: none;
                    border-radius: 30px;
                    background-color: rgba(255, 255, 255, 0.15);
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}
@media screen and (min-width: 481px) {
    .section__prices {
        &-container {
            h1 {
                padding-top: 88px;
                font-size: 42px;
                line-height: 44px;
            }
        }
        &-main {
            margin-top: 39px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            &-block {
                width: 40%;
                &:nth-child(3) {
                    width: 43%;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .section__prices {
        &-container {
            h1 {
                padding-top: 114px;
                font-size: 48px;
                line-height: 50px;
            }
        }
        &-main {
            margin-top: 112px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            &-block {
                width: 20%;
                &:nth-child(3) {
                    width: 25%;
                }
            }
        }
    }
}
