@import 'constants.scss';
@mixin noMarginNoPadding {
    padding: 0;
    margin: 0;
}
@mixin withFontSize($multiplier) {
    font-style: $multiplier * 16px;
}
// body {
//     border: 4px solid $titleMain;
// }

.withBorder {
    border: 10px solid rgb(122, 216, 122);
    padding: 4px;
    @include noMarginNoPadding;
}
.overview {
    padding: 20px;
    .title {
        color: rgb(62, 142, 62);
        font-weight: bold;
    }
    &__title {
        @extend .withBorder;
        color: blue;
        &--red {
            color: $titleMain;
        }
    }
    &__subtitle {
        @include withFontSize(4);
        color: rgb(233, 194, 38);
    }
}
li {
    list-style: none;
    // @include absolutePos(4, 5, 4, 5);
}
@mixin borderColor {
    border: 2px solid blue;
}
.main-header {
    @include borderColor;
    padding: 10px;
    &__menu {
        display: flex;
        justify-content: space-between;
        &--item {
            @include borderColor;
            padding: 10px;
            &:hover {
                background-color: rgb(231, 199, 199);
            }
        }
    }
}
