$backgroundColor: black;
$headingFontColor: #fefefe;
$contentFontColor: #b9b9b9;

body {
    margin: 20px;
    border: none;
}

.footer {
    background-color: $backgroundColor;
    padding: 66px 0 70px;
    &__heading {
        color: $headingFontColor;
        text-align: center;
        font-size: 16px;
        margin-bottom: 22px;
    }
    &__text-content {
        color: $contentFontColor;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
    &__icon {
        display: flex;
        justify-content: center;
        margin: 31px 0 28px;
        &-element {
            width: 34px;
            height: 34px;
            margin: 6px;
            border: 1px solid red;
            border-radius: 50%;
        }
        .icon-background {
            &-red {
                background-color: red;
            }
            &-white {
                background-color: white;
            }
            &-grey {
                background-color: grey;
            }
            &-green {
                background-color: green;
            }
            &-blue {
                background-color: blue;
            }
        }
    }
}
