body {
  margin: 0;
  padding: 0;
}

nav {
  height: 75px;
  width: 100%;
  background-color: orange;
  margin-bottom: 12px;
}

main {
  padding: 24px 12px;
  background-color: #a1d09d;
  grid-area: main;
}

.block {
  margin-top: 12px;
  padding: 24px 12px;
  height: 200px;
  background-color: #0b4c05;
  box-sizing: border-box;
}

.block1 {
  grid-area: block1;
}

.block2 {
  grid-area: block2;
}

footer {
  background-color: #2b2d2b;
  padding: 24px 0;
  margin-top: 12px;
}
footer p {
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 200px 1fr;
    gap: 20px;
    grid-template-areas: "main block1" "main block2";
    margin: 0 12px;
  }

  .block {
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 200px 1fr;
    gap: 20px;
    grid-template-areas: "block2 main block1";
    margin: 0 12px;
    max-width: 1400px;
    margin: 0 auto;
  }
}