* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    width: 500px;
    margin: 0 auto;
}
.wrapper {
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    margin-top: 30px;
}
p {
    padding-bottom: 5px;
}
span {
    font-weight: bold;
}
