body {
    font-family: 'Open Sans', sans-serif;
}
button:hover,
a:hover,
.search:hover {
    transform: scale(1.2, 1.2);
}

#upbutton {
    background: url('../img/arrow-circle-up-solid.svg') no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}
/*start  -----header */
.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}
.logo {
    display: flex;
    padding: 22px 0 21px 0;
    align-items: center;
}
.logo a {
    text-decoration: none;
}
.logo img {
    padding: 22px 27px 21px 27px;
}
.logo h1 {
    font-size: 22px;
    color: #ffffff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-list {
    display: flex;
    padding: 28px 35px 26px 0;
}
.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600px;
}
.search-button {
    display: flex;
    justify-content: flex-end;
    width: 65px;
    height: 70px;
    background: #000000;
}
.search {
    padding: 27px 25px 26px 26px;
}
.header-background {
    width: 100%;
    height: 438px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    background-image: url(../img/nav-bar-img/header-bg.jpeg);
    background-attachment: fixed;
}
.header-text-pos {
    text-align: center;
}
.header-text {
    padding: 232px 0 44px 0;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-link1 {
    border-radius: 6px;
    border: none;
    display: block;
    padding: 16px 19px 17px 19px;
    background-color: #89ca62;
    margin-right: 20px;
    color: #ffffff;
}
.btn-link2 {
    border-radius: 4px;
    border: none;
    display: block;
    padding: 16px 19px 17px 19px;
    background-color: #14b9d5;
    color: #ffffff;
}
/*end  -----header */

/*start  -----main */
.most-popular {
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 49px;
}
.most-popular h2 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 77px;
    color: #18b4cf;
}
.posts {
    height: 950px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 30px;
    padding-top: 51px;
    background-color: #f2f2f2;
}
.post-img {
    text-align: center;
    background-color: #ffffff;
    color: #353a3d;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    padding-top: 20px;
    padding-bottom: 22px;
}
.popular-clients {
    background-image: url('../img/our-most-popular-clients-img/parallax-bg.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    height: 588px;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
.popular-clients h2 {
    color: #ffffff;
    padding-top: 108px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 44px;
}
.tiny-line {
    margin: 0 auto;
    margin-top: 87px;
    width: 60px;
    height: 3px;
    background-color: #18b4cf;
}
.clients-name {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    gap: 58px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    height: 63px;
}
.rated-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    padding-top: 49px;
    font-size: 27px;
    color: #18b4cf;
}
.rated-imgs {
    padding-top: 52px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
}
.rated-imgs img {
    width: 100%;
}
.hot-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hot-news h2 {
    margin-top: 48px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18b4cf;
}
.hot-news button {
    border-radius: 6px;
    border: none;
    padding: 16px;
    background-color: #89ca62;
    margin-top: 10px;
    color: #ffffff;
}
.hot-news-images {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: 259px 418px 418px 259px;
    gap: 40px;
    margin-top: 51px;
}
.item1 {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 483px 373px;
}
.image1 {
    width: 483px;
}
.item1-pos {
    width: 426px;
    background-color: #f9f7f7;
}
.news-heading1 {
    text-align: right;
    padding-top: 41px;
    padding-right: 24px;
    margin-bottom: 14.5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #353a3d;
}
.news-title1 {
    text-align: right;
    padding-right: 24px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 21px;
    color: #5b6469;
    font-style: normal;
}
.item2 {
    background-color: #f9f7f7;
}
.news-heading2 {
    margin-top: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 24.51px;
    font-style: normal;
}
.item3 {
    grid-column: 1 / span 2;
    width: 554px;
    background-color: #f9f7f7;
}
.image3 {
    width: 554px;
}
.news-heading3 {
    padding-top: 12px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24.51px;
}
.news-title3 {
    text-align: right;
    padding-right: 14px;
    font-size: 14px;
    line-height: 21px;
}
.image5 {
    width: 592px;
    height: 259px;
}
.item4 {
    grid-column: 3 / span 2;
    background-color: #f9f7f7;
}
.image4 {
    width: 592px;
    height: 259px;
}
.item5 {
    background-color: #f9f7f7;
}
.images-list6 {
    display: flex;
}
.item6 {
    grid-column: 2 / span 3;
    background-color: #f9f7f7;
}
/*end  -----main */

/*start  -----footer */

.footer-pos {
    margin-top: 77px;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 879px 488px;
    gap: 559px;
    height: 80px;
}
.footer-pos p {
    color: #ffffff;
    text-align: right;
    padding-top: 29px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
}
.footer-logo {
    padding-top: 29px;
    padding-bottom: 30px;
}
/*end  -----footer */
