.menu-btn {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: rgb(45, 160, 130);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: rgb(51, 102, 174);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: rgb(51, 102, 174);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: rgb(45, 160, 130);
}
nav {
    border: 1px solid black;
    position: relative;
}
.list {
    display: none;
}
.menu__burger {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
}
.menu__burger.open {
    display: block;
}
.menu__burger ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    margin: 0 auto;
}
@media screen and (min-width: 500px) {
    .menu-btn {
        display: none;
    }
    .list {
        display: flex;
    }
    .list li {
        list-style: none;
        font-style: 26px;
        margin: 0 8px;
    }
}
