body {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
/* .container__item {
    flex: 1;

    height: 50px;
    border: 2px solid black;
}

@media screen and (max-width: 1000px) {
    .container__item {
        width: 33%;
        border: 1px solid red;
        flex: none;
    }
} */

/* mobail first */

.container__item {
    height: 50px;
    width: 33%;
    border: 1px solid red;
    flex: none;
}

@media screen and (min-width: 1000px) {
    .container__item {
        flex: 1;
        width: auto;
        border: 2px solid black;
    }
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .container__item {
        background-color: yellow;
    }
}
@media screen and (min-height: 400px) {
    .container__item::after {
        content: '> 400px';
    }
}
/* @media screen and (orientation: landscape) {
    body {
        background-color: rgb(220, 109, 109);
    }
} */
